ul li {
    display:inline;
    margin: 15px;
    border:medium solid #6699cc;
    list-style-type: none;
    text align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    color:#ffffff;
}
* {
    margin: 0;
    padding: 0;
}
nav {
    width: 100%;
    height:70px;
    background-color:#336699;
}
nav p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 26px;
    line-height: 60px;
    float:left;
    padding: 10px 20px;
}
nav ul {
    float: left;
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}
nav ul li ul {
    display: none;
    position: absolute;
    background-color: #ffffff;
    padding: 10px;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul li {
    width: 90px;
}
nav ul li ul li a {
    padding: 10px 14px;
    text-decoration: none;
    color: #003366;
}
nav ul li ul li a:hover {
    background-color: #ffffff;
}