ul li {
    display:inline;
    margin: 30px;
    border:medium solid #6699cc;
    list-style-type: none;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}