@font-face {
    font-family:'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
}
h1 {
    color: #6699cc;
    font-family: montserrat;
}
h3 {
    color:#6699cc;
    font-family: montserrat;
    text-decoration: none;
}
p {
    color: black;
    font-family: montserrat;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 5px;
  }
  
  .grid-item {
    background-color: white;
    border: 1px solid white;
    padding: 10px;
    font-size: 25px;
    text-align: left;
  }
#nav li {
    font-family: Montserrat;
}
header {
    text-align: center;
    padding: 10px;
}
footer {
    width: 100%;
    height: 100px;
    background-image: url(images/footerimage.png);
    background-size: 100% 200px;
    text-align: center;
    font-family: montserrat;
    color: black;
}
.pic {
    width: 12px;
    height: 12px;
}
.picbig {
    position: absolute;
    width: 0px;
    -webkit-transition: 0.3s linear 0s;
    transition: width 0.3s linear 0s;
    z-index: 10;
}
.pic:hover + .picbig {
    width: 100px;
    height: 100px;
}
table {
    width: 600px;
    font-family: montserrat;
    font-size: 20px;
}
th {
    text-align: left;
}
table, th, td {
    border-collapse: collapse;
    border: 3px solid #6699cc;
}
th, td {
    padding: 5px;
}
tr:nth-child(even) {
    background-color:aliceblue;
}
tr:nth-child(odd) {
    background-color: white;
}